<a href="https://colab.research.google.com/github/HugocamposL3/Linguagem-Python-Para-Data-Science/blob/main/Aula_7_de_LPP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Importando a Biblioteca Pandas

In [44]:
import numpy as np
import pandas as pd

In [45]:
array_np = np.array([1,0,1])
array_pd = pd.Series([1,0,1])
array_pd1 = pd.Series([[1,0,1],[1,3,4]])
print(array_np)
print(array_pd)
print(array_pd1)

[1 0 1]
0    1
1    0
2    1
dtype: int64
0    [1, 0, 1]
1    [1, 3, 4]
dtype: object

##Indice

In [46]:
indices = np.array(['A','B','C','D','E'])

In [47]:
serie = pd.Series([1,3,5,6,9],index=indices)
print(serie)

A    1
B    3
C    5
D    6
E    9
dtype: int64

##DataFrame

In [48]:
indice_datas = pd.date_range("20200101",periods = 6, freq='D')
print(indice_datas)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [49]:
array_aleatorio = np.empty((6,4), dtype=np.int32)

In [50]:
dataframe = pd.DataFrame(array_aleatorio,index = indice_datas,columns = ['A','B','C','D'])
print(dataframe)

            A           B  C  D
2020-01-01  0  1072693248  0  0
2020-01-02  0  1074790400  0  0
2020-01-03  0  1076101120  0  0
2020-01-04  0  1074790400  0  0
2020-01-05  0  1074266112  0  0
2020-01-06  0  1075314688  0  0

##Dicionario com DataFrame

In [51]:
dataframe=pd.DataFrame({
    'A':1.0,
    'B':pd.Timestamp("20200101"),
    'C':pd.Series([1.2, 3.7, 5.5, 6], dtype = 'float32'),
    'D':np.array([12,3,5,9],dtype="int32"),
    "E":pd.Categorical(['novo','velho','velho','novo'])
})
print(dataframe)

     A          B    C   D      E
0  1.0 2020-01-01  1.2  12   novo
1  1.0 2020-01-01  3.7   3  velho
2  1.0 2020-01-01  5.5   5  velho
3  1.0 2020-01-01  6.0   9   novo

##Visualização de DataFrame

##.head() 'Esta função retorna valores de cima para baixo'

In [52]:
dataframe.head()

     A          B    C   D      E
0  1.0 2020-01-01  1.2  12   novo
1  1.0 2020-01-01  3.7   3  velho
2  1.0 2020-01-01  5.5   5  velho
3  1.0 2020-01-01  6.0   9   novo

In [53]:
dataframe.head(3)

     A          B    C   D      E
0  1.0 2020-01-01  1.2  12   novo
1  1.0 2020-01-01  3.7   3  velho
2  1.0 2020-01-01  5.5   5  velho

##.tail() 'Esta função retorna valores debaixo para cima'

In [54]:
dataframe.tail()

     A          B    C   D      E
0  1.0 2020-01-01  1.2  12   novo
1  1.0 2020-01-01  3.7   3  velho
2  1.0 2020-01-01  5.5   5  velho
3  1.0 2020-01-01  6.0   9   novo

In [55]:
dataframe.tail(3)

     A          B    C  D      E
1  1.0 2020-01-01  3.7  3  velho
2  1.0 2020-01-01  5.5  5  velho
3  1.0 2020-01-01  6.0  9   novo

##.index

In [58]:
dataframe.index ## Retorna o começo, final, e o passo a passo

RangeIndex(start=0, stop=4, step=1)

##.Columns

In [59]:
dataframe.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

##Conversão para Numpy

In [64]:
my_array = dataframe.to_numpy()
print(my_array)

[[1.0 Timestamp('2020-01-01 00:00:00') 1.2000000476837158 12 'novo']
 [1.0 Timestamp('2020-01-01 00:00:00') 3.700000047683716 3 'velho']
 [1.0 Timestamp('2020-01-01 00:00:00') 5.5 5 'velho']
 [1.0 Timestamp('2020-01-01 00:00:00') 6.0 9 'novo']]

##Conversão Numpy para Pandas

In [66]:
pd.DataFrame(my_array)

   0          1    2   3      4
0  1 2020-01-01  1.2  12   novo
1  1 2020-01-01  3.7   3  velho
2  1 2020-01-01  5.5   5  velho
3  1 2020-01-01    6   9   novo

##.describe() //Desvio Padrão

In [67]:
dataframe.describe()

         A         C          D
count  4.0  4.000000   4.000000
mean   1.0  4.100000   7.250000
std    0.0  2.171021   4.031129
min    1.0  1.200000   3.000000
25%    1.0  3.075000   4.500000
50%    1.0  4.600000   7.000000
75%    1.0  5.625000   9.750000
max    1.0  6.000000  12.000000

##.sort() // Ordena o dataframe de acordo com a coluna que você quer

In [73]:
dataframe.sort_values(by='D')

     A          B    C   D      E
1  1.0 2020-01-01  3.7   3  velho
2  1.0 2020-01-01  5.5   5  velho
3  1.0 2020-01-01  6.0   9   novo
0  1.0 2020-01-01  1.2  12   novo